body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 1200px;
    margin: auto;
}

.vertical-line {
    display: block;
    content: "";
    background-color: rgb(61, 105, 108);
    height: inherit;
    width: 1px;
    margin-left: 5px;

}

.horizontal-line {
    display: block;
    content: "";
    width: inherit;
    height: 1px;
    background-color: rgb(154,154,154);
    margin-top: 10px;
}

/*--------------- Header ---------------*/

#header {
    height: 6em;
    background: linear-gradient(rgb(98, 149, 232), rgb(140, 183, 249));
    text-align: center;
    position: relative;
}

#header::after{
    display: block;
    content: "";
    background-color: rgb(61, 105, 108);
    height: .5px;
    margin-top: 45px;
}

h1 {
    color: rgb(194, 233, 249);
    margin: 0;
    padding: 20px;
}

/*--------------- Navbar ---------------*/

#nav {
    background-color: rgb(189, 210, 248);
    max-width: 600px;
    top: 90%;
    left: 33%;
    position: absolute;
    border-radius: 3px;
    box-shadow: #888888 0px 0px 10px 2px;
    color: rgb(61, 105, 208);
}

.nav-menu {
    display: inline-block;
    margin-right: 30px;
    padding: 3px;
}

.nav-menu:hover {
    cursor: pointer;
    color: rgb(246, 219, 182);
}

.nav-selected {
    color: rgb(246, 219, 182);
}

.nav-menu1 {
    margin-right: 0;
}

#main {
    margin-top: 27px;
}

/*--------------- Side bar ---------------*/

#side {
    width: 360px;
    padding-top: 5px;
}

.side-container {
    color: white;
    background-color: white;
    border: 1px solid #888888;
    margin-top: 5px;
}

.side-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 144, 49);
    padding: 5px 0;
    user-select: none;
}

.side-container-header-newcolor {
    background-color: rgb(246, 219, 182);
    color: rgb(180, 163, 173);
}

.side-container-header:hover {
    cursor: pointer;
}

.play-button {
    display: none;
}

.side-container-header-content {
    font-size: 21px;
}

.onehead-arrow, .twohead-arrow, .play-button {
    padding: 5px;
}

.side-container-body {
    color: blue;
    padding: 5px 10px;
}

/*--------------- Main ---------------*/

#main {
    display: flex;
}

/*--------------- Order ---------------*/
#order {
    flex-grow: 1;
    text-align: center;
    margin-left: 25px;
    margin-top: 10px;
}

.order-title {
    color: rgb(237,171,57);
    /* font-size: 20px; */
}

.order-title::after {
    display: block;
    content: "";
    width: inherit;
    height: 2px;
    background-color: rgb(154,154,154);
    margin-top: 20px;
}

/*--------------- Order -> Info ---------------*/

#order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.order-info-wrapper, .order-info-sex-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    padding-right: 5px;
}

.order-info-annouce {
    width: 360px;
    text-align: left;
    color: rgb(235, 128, 92);
    display: none;
}

.order-info-input {
    display: flex;
    width: 350px;
}

input[type="radio"] {
    margin: auto;
}

/*--------------- Order -> button ---------------*/

#order-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#order-button-register, #order-button-delete {
    background: transparent;
    border: 1px solid rgb(233, 144, 49);
    margin-right: 5px;
}

#order-button-register:hover, #order-button-delete:hover {
    cursor: pointer;
}

/*--------------- Order -> Product ---------------*/
#order-product {
    display: flex;
    margin-top: 10px;
}

.order-product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .5px solid;
    border-radius: 3px;
    margin-bottom: 3px;
}

.order-product-item:hover {
    cursor: pointer;
}

.selected {
    background-color: rgb(255, 161, 57);
}

.order-product-item-thumnail {
    font-size: 40px;
    padding-left: 10px;
    
}

.order-product-item-description {
    font-size: 18px;
    font-weight: 600;
}

.order-product-item-price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(227, 78, 100);
    padding-right: 5px;
}

#order-product-list {
    flex: 8;
}

.order-product-list-title {
    color: rgb(233, 144, 49);
    text-align: right;
    font-weight: 600;
}

#order-product-list-wrapper {
    height: 350px;
    border: .5px solid;
    padding: 3px;
    overflow-y: scroll;
}

#order-product-button {
    flex: 1;
}

#order-product-selected {
    flex: 8;
}

.order-product-selected-title {
    font-weight: 600;
    color: rgb(233, 144, 49);
    text-align: left;
}

#order-product-selected-wrapper {
    height: 350px;
    border: .5px solid;
    padding: 3px;
    overflow-y: scroll;
    background-color: rgb(244, 254, 255);
    border: .5px solid rgb(233, 144, 49);
}

#order-product-button {
    text-align: center;
    margin: auto;
}

.order-product-button-item {
    border: 1px solid rgb(233, 144, 49);
    margin: 5px 8px;
}

.order-product-button-item:hover {
    cursor: pointer;
}

/*--------------- Order -> Customer ---------------*/
#order-customer {
    width: 100%;
    margin-top: 10px;
}

thead {
    color: white;
    background-color: rgb(233, 144, 49);
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(248, 228, 183);
}

#order-customer-name {
    width: 30%;
}

#order-customer-address {
    width: 20%;
}

#order-customer-sex {
    width: 10%;
}

.order-customer--align-left {
    text-align: left;
}